body {
    font-family: Garamond;
}

#chatbox {

    width: auto;
    margin-top: 100px;
}

#userInput {

    width: auto;
    margin-top: 100px;
}

#textInput {
    width: 87%;
    border: none;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: right;
}



.botText {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;

}


#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}
